@model DomainModel.Guest

@{
    ViewBag.Title = "AlreadyGuest";
}

<h2>AlreadyGuest</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Heb je al eens een gast geweest? Vul dan hier je voor en achternaam + je email adres in.
        Ben je een nieuwe bezoeker, @Html.ActionLink("Klik dan hier om je gegevens in te vullen", "Create", new { id=Model.ToBookRoomId })
    </p>
    <fieldset>
        <legend>Guest</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Suffix)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Suffix)
            @Html.ValidationMessageFor(model => model.Suffix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        @Html.HiddenFor(model => model.ToBookRoomId)
        <p>
            <input type="submit" value="Ga verder" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug naar de home pagina", "Index", "Start")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
