@model DomainModel.Room

@{
    if (!Request.IsAuthenticated)
    {
        return;
    }
    
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Room</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinPrice)
            @Html.ValidationMessageFor(model => model.MinPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NrGuests)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NrGuests)
            @Html.ValidationMessageFor(model => model.NrGuests)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
