@model DomainModel.Room

@{
    ViewBag.Title = "SetHigherPrice";
}

<h2>SetHigherPrice</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Room</legend>

        @Html.HiddenFor(model => model.RoomId)

        <div class="editor-label">
            @Html.LabelFor(model => model.StartPeriodHigherPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartPeriodHigherPrice)
            @Html.ValidationMessageFor(model => model.StartPeriodHigherPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndPeriodHigherPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndPeriodHigherPrice)
            @Html.ValidationMessageFor(model => model.EndPeriodHigherPrice)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
